# Database Config
DB_USER=bluefox_user
DB_PASSWORD=uma_senha_muito_forte_aqui
DB_NAME=keycloak_db

# Keycloak Admin (Mude as senhas de local para produção!)
KC_ADMIN_USER=admin
KC_ADMIN_PASSWORD=outra_senha_muito_forte

# Produção
KC_HOSTNAME=auth.bluefoxaquarismo.com.br
DOCKER_NETWORK=shared-net

# Ajuste de sintaxe (usar =)
KC_METRICS_ENABLED=true
KC_HEALTH_ENABLED=true