# Database Config
DB_USER=user-db
DB_PASSWORD=password-db
DB_NAME=database-name

# Keycloak Admin User
KC_ADMIN_USER=admin-keycloak
KC_ADMIN_PASSWORD=password-keycloak
KC_HOSTNAME_PORT=8080

# Network Name
DOCKER_NETWORK=network-name